body{
    background-color: aqua;
}

h1{
    color: #4c4c4c;
}

h2{
    color: #4c4c4c;
}

.Adminh1{
    color: #4c4c4c;
}

.content{
    width: 100%;
    margin-top: 80px;
    padding: 10px 30px;
}

#TableDiv{
    width: 100%;
    background-color: #fff;
    padding: 20px 50px;
}